* {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin: 0;
}

#listView{
  position: absolute;
  top: 5%;
  left:10px;
  max-width: 25%;
  list-style: none;
  padding:0;
  margin: 0;
  background-color: rgba(207, 180, 180, 0.65);
}

#listView>li{
  font-size: 1em;
  margin-bottom: 3px;
  line-height: 1.5em;
  border-bottom: 1px solid black;
}

#listView>li:hover{
  color: white;
  cursor: pointer;
}

input{
  position: absolute;
  top: 0;
  left: 10px;
  width: 24.5%;
}

.help_info{
  height: 250px;
  width: 300px;
  position: absolute;
  top: 48px;
  right: 10px;
  background: rgba(238, 118, 101, 0.95);
  display: none;
  font-size: .9em;
}
img.icon{
  height:22px;
  width: 25px;
}
.help_info>h1{
  font-size: 1.5em;
}
.light{
  font-weight: 300;
}
#help_btn{
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: rgba(238, 118, 101, 0.7);
  top: 0;
  right: 10px;
  color: white;
  border: none;
}
span {
  display: block;
}
@media (max-width:768px) {
  *{
    font-size: 12px;
    font-weight: 200;
    }
  .container {
    overflow: auto;
  }
  input{
    width: 50%;
    left: 0;
  }
  #listView{
    left: 0;
    overflow: scroll;
    max-width: 25%;
    max-height: 90%;
  }

  li#listItem{
    margin:0;
    padding:0;
    line-height: 1.1em;
    line-spacing: 1.2em;


  }
  #help_btn, .help_info{
    right:0px;
  }
  .help_info{
    max-width: 70%;
    padding: 0 0 0 5px;
  }
}
