* {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
}

.help_info{
  height: auto;
  width: 60%;
  position: absolute;
  top: 48px;
  right: 10px;
  background: rgba(238, 118, 101, 0.95);
  display: none;
  font-size: .9em;
}
img.icon{
  height: 22px;
  width: 25px;
}
.help_info>h1{
  font-size: 1.5em;
}
.light{
  font-weight: 300;
}
#help_btn{
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: rgba(238, 118, 101, 0.7);
  top: 0;
  right: 5%;
  color: rgb(36, 2, 2);
  box-shadow: 0 1px 3px black;
  border: none;
}

@media screen and (max-width:714px){
  #listView{
    max-height: 90%;
    max-width: 25%;
    overflow: scroll;

  }
  #listItem{
    margin-top: 10px;
    font-size: 1.2em;
  }

}
@media (min-width:715px){
  *{
    font-size: 14px;
    font-weight: 300;
    }

  #listView{
    left: 0;
    overflow: scroll;
    max-width: 10%;
    max-height: 90%;
  }

  li#listItem{
    margin:0;
    padding:0;
    line-height: 1.1em;
    line-spacing: 1.2em;


  }
  #help_btn, .help_info{
    right:2%;
  }
  .help_info{
    max-width: 40%;
    max-height:40%

  }
}
